<div class="limiter fadeInRight faster animated fadeIn faster p-t-50 table mt-3">
    <h1 class="home-title">Formulario de Registro para la Orden de Alquiler</h1>
    <hr>
    <form autocomplete="off" [formGroup]="forma" (ngSubmit)="save()">

        <div>

            <div class="form-group row">
                <label class="col-2 col-form-label">Nombre</label>
                <div class="col">

                    <input class="form-control" type="text" placeholder="Nombre" formControlName="nombre" [class.is-invalid]="nombreNoValido">
                    <small *ngIf="nombreNoValido" class="text-danger">
          Ingrese 2 letras
        </small>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label">Apellido</label>
                <div class="col">

                    <input class="form-control" type="text" placeholder="Apellido" formControlName="apellido" [class.is-invalid]="apellidoNoValido">
                    <small *ngIf="apellidoNoValido" class="text-danger">
                Ingrese el apellido
        </small>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-2 col-form-label">Cédula</label>
                <div class="col">

                    <input class="form-control" type="text" placeholder="Cédula" formControlName="cedula" [class.is-invalid]="cedulaNoValido">
                    <small *ngIf="cedulaNoValido" class="text-danger">
              Ingrese su número de cédula
      </small>
                </div>
            </div>

        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Correo</label>
            <div class="col">

                <input class="form-control" type="email" placeholder="Correo electrónico" formControlName="correo" [class.is-invalid]="correoNoValido">
                <small *ngIf="correoNoValido" class="text-danger">
              Ingrese el correo
      </small>
            </div>
        </div>

        <div class="form-group row" formGroupName="direccion">
            <label class="col-2 col-form-label">Direccion</label>
            <div class="form-row col">

                <div class="col">

                    <input type="text" class="form-control" placeholder="Distrito" formControlName="distrito" [class.is-invalid]="distritoNoValido">

                </div>

                <div class="col">

                    <input type="text" class="form-control" placeholder="Ciudad" formControlName="ciudad" [class.is-invalid]="ciudadNoValido">

                </div>

            </div>
        </div>

        <div class="form-group row ">
            <label class="col-2 col-form-label">&nbsp;</label>
            <div class="input-group col">
                <button type="button" [routerLink]="['/home']" class="save-btn">
                    <i class="far fa-times-circle"></i>
        Cancelar
      </button>
            </div>
            <div class="input-group col">
                <button type="submit" class="save-btn">
                  <i class="fas fa-save"></i>
        Guardar
      </button>
            </div>

        </div>

    </form>

</div>